*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:white;
}

li, a, button{
    font-family: fantasy;
    /* font-weight: bold; */
    font-size: 30px;
    color: black ;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.sign_up_button{
    position: relative;
    left: 200px;
    bottom: -10px;
}
.info{
    position: relative;
    margin: 100px 50px;
}
.logo{
    cursor: pointer;
    margin-right: auto;

}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: blue;
}
button{
    padding: 9px 25px;
    background-color: #cbb26a;
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}

#phrase_one{
    font-size: 50px;
}
#phrase_two{
    font-size: 30px;
}
.info_two{
    position: relative;
    margin-left: 1300px;
    margin-top: 100px;
}
.my_logo{
    position: relative;
    margin-left: 1300px;
    margin-top: -3000px;
}
.image_name{
    position: fixed;
    margin-top: -105px;
}

