<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
</head>
<body>
    <header>
        <img class="logo" src="static/app_logo_trans.png" alt="logo" width="150" height="100">
        <nav>
            <ul class="nav_links">
                <li><a href="notes">Features</a></li>
                <li><a href="login">Log In</a></li>
                <li><a href="sign_up">Sign Up</a></li>
            </ul>
        </nav>
    </header>
     <div class="info">
        <h1 id="phrase_one">Write, organize, and share your notes </h1>
        <h2 id="phrase_two">Write your ideas, organize them, and share them with you friends and colleagues </h2>
        <a href="sign_up"><button class="sign_up_button">Sign Up for free</button></a><br><br><br>
     </div>
     <img src="static/christin-hume-mfB1B1s4sMc-unsplash.jpg" alt="laptop_picture" class="image_name" width="1000" height="500">
     <img src="static/susan_logo_trans.png" alt="laptop_picture" alt="personal_logo" class="my_logo" width="500" height="300">

     <div class="info_two">
        <h1 id="phrase_one">Simple, easy, and free!</h1>
        <h2 id="phrase_two">Easy to navigate user interface with no cost!</h2>
     </div>

     
     
</body>
</html>